 




<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->

    <div class="panel-body">
        <form [formGroup]="frm" (submit)="navigateToSearch()">
            <div class="row">
                <div class="col-md-3"><label for="from">From</label></div>
                <div class="col-md-4">
                    <input formControlName="from" id="from" />
                    <control-messages [control]="frm.controls.from"></control-messages>
                </div>
            </div>
 


             <div class="row">
                <div class="col-md-3"><label for="to">To</label></div>
                <div class="col-md-4">
                    <input formControlName="to" id="to" />
                    <control-messages [control]="frm.controls.to"></control-messages>
                </div>
            </div>


            <div formGroupName="travelPeriod">
                <div class="row"  >
                    <div class="col-md-3"><label for="departOn">Depart on</label> (yyyy-mm-dd)</div>
                    <div class="col-md-4">
                        <input formControlName="departOn" id="departOn" />
                        <control-messages [control]="frm.controls.travelPeriod.controls.departOn"></control-messages>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"><label for="returnOn">Return on</label>(yyyy-mm-dd)</div>
                    <div class="col-md-4">
                        <input formControlName="returnOn" id="returnOn" />
                        <control-messages [control]="frm.controls.travelPeriod.controls.returnOn"></control-messages>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <control-messages [control]="frm.controls.travelPeriod"></control-messages>
                </div>
            </div>    



            <div class="row">
                <div class="col-md-2">
                  <button type="submit" [disabled]="!frm.valid">Submit</button>
                </div>
            </div>
    
    
        </form>



        <div class="row" *ngIf="listFilter">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="table-responsive">
            <table class="table"
                   *ngIf="flights && flights.length">
                <thead>
                    <tr>
                        <th>Airline</th>
                        <th>Inbound Flight Duration</th>
                        <th>Itinerary Id</th>
                        <th>Outbound Flights Duration</th>
                        <th>Stops</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of flights">
               
                        <td>
                            <img [src]="item.airlineLogoAddress"/>    {{item.airlineName}}
                        </td>
                        <td>{{ item.inboundFlightsDuration}}</td>
                        <td>{{ item.itineraryId }}</td>
                        <td>{{ item.outboundFlightsDuration }}</td>
                        <td>{{ item.stops }}</td>
                        <td>{{ item.totalAmount }}</td>
                      
                    </tr>
                </tbody>
            </table>
        </div>




    </div>
    
</div>