﻿<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <p class="text-center">
                Welcome to the Sample Application for Nintex
            </p>  
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:<em>Moiz Kantawala</em> </div>

            
        </div>
    </div>
</div>